<fieldset class="layui-elem-field layui-field-title">
  <legend>文章列表</legend>
</fieldset>

<div class="layui-row" id="app">
  <div class="layui-col-xs12">
    <div class="layui-row">
      <div class="layui-col-xs10">
        &nbsp;
      </div>
      <div class="layui-col-xs2" style="text-align:right">
        <a href="/admin/article/save" class="layui-btn layui-btn-sm"><i class="layui-icon layui-icon-add-1"></i> 新增文章</a>
      </div>
    </div>
    
  </div>
</div>

<script>
const vm = new Vue({
  el: "#app",
  delimiters: ['@[[', ']]'],
});
</script>
